@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Market/**/*';
@source '../../../../resources/views/filament/market/**/*';
@source '../../../../app/Livewire/**/*';
@source '../../../../resources/views/livewire/**/*';



.fi-sidebar-nav-groups  {
    @apply gap-y-2;
}
@utility mytable
{

    .fi-ta-cell, .fi-ta-cell div{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        border-radius: 0% !important;
    }
}


