@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Ins/**/*';
@source '../../../../resources/views/filament/ins/**/*';
@source '../../../../app/Livewire/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../vendor/defstudio/filament-searchable-input/resources/**/*.blade.php';


.fi-ta-ctn .py-4 {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.fi-sidebar-nav-groups  {

    @apply gap-y-2;
}



